.mat-drawer-container {
    height: 100vh;
}

.menu-icon {
    cursor: pointer;
    margin-right: 16px;
}

.sidenav {
    width: 300px;

    div {
        padding-right: 16px;
        padding-left: 48px;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        height: 55px;
        display: flex;
        align-items: center;

        img {
            height: 50px;
        }
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
   
}

li {
    padding-left: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: rgba(0,0,0,0.08);
    }

    mat-icon {
        margin-right: 16px;
    }
}

mat-toolbar {
    min-height: 56px;
    height: 56px;
}

.content-container {
    padding-left: 48px;
    padding-top: 16px;
    padding-right: 48px;
}