<mat-card class="user-details-header">
    <img src="../assets/img/avatar.png" alt="">

    <div>
        <h2>{{ currentUser.firstName }} {{ currentUser.lastName }}</h2>
        <span>{{ currentUser.email }}</span>
    </div>
</mat-card>
<mat-card class="user-details mt-32px">
    <div class="user-details-fr">
        <mat-card-title>Address</mat-card-title>
        <button mat-icon-button (click)="editUser()">
            <mat-icon fontIcon="edit"></mat-icon>
          </button>
        
    </div>
   
    <div>
        {{ currentUser.street }} <br>
        {{ currentUser.zipCode }} {{ currentUser.city }}
    </div>
</mat-card>
